[submodule "Midgar\\vendor\\spdlog"]
	path = Midgar\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "Midgar\\vendor\\GLFW"]
	path = Midgar\\vendor\\GLFW
	url = https://github.com/josh28/GLFW
[submodule "Midgar/vendor/imgui"]
	path = Midgar/vendor/imgui
	url = https://github.com/josh28/imgui
[submodule "Midgar\\vendor\\glm"]
	path = Midgar\\vendor\\glm
	url = https://github.com/g-truc/glm.git
